<% layout('layouts/boilerplate') %>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title%>">
        </div>
        <br>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%=campground.location%>">
        </div>
        <br>
        <button>Update</button>
    </form>
    <br>
    <a href="/campgrounds">Back to Home Page</a>